.posts{
    .single{
        .categories{
            a{
                display: inline-block;
                color: $primary-color;
                font-family: 'Lato', sans-serif;
                letter-spacing: .5px;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.3125rem;
            }
        }
        .title{
            margin-bottom: 0.625rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            a{
                color: #222222;
                font-weight: 600;
                transition: 0.3s ease-in;
                cursor: pointer;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        .listing-meta{
            margin-bottom: 0.625rem;
            font-family: 'Lato', sans-serif;
            a{
                color: $secondary-color;
                font-size: 0.875rem;
                &:not(:last-child){
                    margin-right:1.25rem;
                    position: relative;
                    &::after{
                        content:"";
                        width:0.375rem;
                        height:0.375rem;
                        border-radius: 50%;
                        background: $primary-color;
                        position: absolute;
                        top: 50%;
                        right: -0.625rem;
                        transform: translate(50%,-50%);
                    }
                }
                i{
                    display: inline-block;
                    margin-right: 2px;
                    color: $primary-color;
                }
            }
        }
        .post-content{
            font-size: 1rem;
            margin-bottom: 0.625rem;
        }
        .read-more{
            color: $primary-color;
            font-family: 'Lato', sans-serif;
            letter-spacing: .5px;
            font-size: 0.875rem;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}